################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LargeBoooks/.vs/LargeBoooks/FileContentIndex/1a5917ce-b0eb-44f8-92dc-176fc9af91c8.vsidx
/LargeBoooks/.vs/LargeBoooks/FileContentIndex/a0ca0c71-1510-416a-a88d-c4e8d771b2ab.vsidx
*.cache
*.vsidx
LargeBoooks/LargeBooksWebApp/obj/Debug/net6.0/LargeBooksWebApp.AssemblyInfo.cs
